.about-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.placeholder-image {
  border-radius: 5px;
}

.artist-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.hero-banner-about {
  width: 90%;
  text-align: center;
}

.about-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

li {
  text-align: justify;
}

@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .placeholder-image {
    padding: 1.5rem;
    font-size: 0.9rem;
  }
}