.videocontainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
}

.videobox {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 560px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.videobox p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #cccccc;
}

.videobox iframe {
  width: 100%;
  height: 315px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .videobox iframe {
    height: 250px;
  }

  .videocontainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .videobox iframe {
    height: 200px;
  }
  
  .videobox p {
    font-size: 1rem;
  }

  .videocontainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}