.page {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.598), rgba(47, 47, 47, 0.683));
  position: relative;
  z-index: 1;
}

.divider {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin: 2rem 0;
  width: 100%;
}

.portfolio-links {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.portfolio-link {
  background: #b700ffff;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.portfolio-link:hover {
  background: #9500d4;
}

.hero-banner-portfolio {
  width: 90%;
  text-align: center;
}

@media (max-width: 768px) {
  .page {
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 480px) {
  .page {
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}